.container{
    
    width:500px;  
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }
  .img{
      
     
      background: url(photo.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
       
    height: 1000px;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    
    
  }