<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand fw-bold" href="">SPERI SHOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <div *ngIf = "isUserLoggedIn;">
         <app-navbar></app-navbar>
      </div>
      <div class="lg">
      <div *ngIf="isUserLoggedIn; else isLogOut">
        <a style="float:left; margin-top: 3px;" class="navbar-brand" routerLink="/Logout">Logout</a>
     
    </div>
    <ng-template #isLogOut>
              <a class="navbar-brand"   routerLink="Login">Login</a>
  </ng-template>
  
</div>

    </div>
  </div>
</nav>
<nav>
 

</nav>
<router-outlet></router-outlet>