<section style=" padding-top:6em;">
  <div class="container ">
    <div class="col-md-12 product-list" id="product-side">
  <div  class=" row">
             
    <div *ngFor = "let items of productDetails" class="col-md-3 col-sm-4 col-xs-12 product-card">
       <img class="card-img-top"  src="{{items.ProductImgId}}" alt="Sample"> 
   
               <div class="card-body">
                  <h5 class="card-title">{{items.ProductName}}</h5>
                  <p class="card-text">Rs.{{items.ProductPrice}}</p>
                 <h5> <p class="card-number">{{items.ProductDescription}}</p></h5>
                 
                 <button  (click)="addtocart(items)" class="btn btn-primary">add to cart</button>
             
       
      </div>
   </div>
  </div>
    </div>
  </div>
</section>

